.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
.animated.infinite {
    animation-iteration-count: infinite;
}
.animated-1 {
    animation-delay: 0s;
}
.animated-2 {
    animation-delay: 0.2s;
}
.animated-3 {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 0.2s;
}
.animated-4 {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 0.2s;
}
.animated.hinge {
    animation-duration: 2s;
}
@keyframes moon{
    0% {
        transform:translate3d(50%,-100%,0);     
    } 
    100% {
        transform:translate3d(0,0,0);     
    }
}
.moon-ant{
    animation: moon 2s ease-out;
}
@keyframes show {
    0% {
        opacity:0;     
    } 
    100% {
        opacity:1;
    }
}
.show-ant{
    animation: show 2s .5s both;
}
@keyframes yun{
    0% {
        opacity:1;
        transform:translate3d(100%,0,0);    
    } 
    50% {
        opacity:1;
        transform:translate3d(0,0,0);    
    } 
    100% {
        opacity:0;
        transform:translate3d(-100%,0,0);    
    }
}

.yun-ant{
    animation: yun 2s 2s linear both;
}
@keyframes swing {
  20% {
            transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
            transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
            transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
            transform: rotate3d(0, 0, 1, -5deg);
  }

  100% {
            transform: rotate3d(0, 0, 1, 0deg);
  }
}

.swing {
          transform-origin: top center;
          animation-name: swing;
}
@keyframes go{
    0% {
        transform:translate3d(0,0,0);    
    } 
    50% {
        transform:translate3d(-700px,20px,0);    
    }
    100% {
        transform:translate3d(0,0,0);    
    }
}
.go-ant{
    animation: go 20s 2s linear both infinite;
}

@keyframes y-left{
    0% {
        opacity:0;
        transform:translate3d(0,0,0) scale(1);    
    } 
    30% {
        opacity:1;
    }
    100% {
        transform:translate3d(80%,-50%,0) ;    
        opacity:0;
    }
}
.y-left-ani{
    animation: y-left 2s 2s ease-out both infinite;
}
@keyframes y-right{
    0% {
        opacity:0;
        transform:translate3d(118%,23%,0) scale(1);    
    } 
    70% {
        opacity:1;
    }
    100% {
        transform:translate3d(30%,-30%,0) ;    
        opacity:0;
    }
}
.y-right-ani{
    animation: y-right 2s 2s ease-out both infinite;
}
@keyframes h-1{
    0% {
        opacity:0;
        transform:translate3d(0,0,0) scale(.1);    
    } 
    50% {
        transform:translate3d(70%,-42%,0) scale(1);    
        opacity:1;
    }
    100% {
        transform:translate3d(100%,-35%,0) scale(1.5);    
        opacity:0;
    }
}
.h-1-ani{
    animation: h-1 2s 3s linear both infinite;
}
@keyframes h-2{
    0% {
        opacity:0;
        transform:translate3d(36%,15%,0) scale(.1);    
    } 
    50% {
        transform:translate3d(8%,-5%,0) scale(1);    
        opacity:1;
    }
    100% {
        transform:translate3d(0,0,0) scale(1.5);    

        opacity:0;
    }
}
.h-2-ani{
    animation: h-2 2.5s 3s linear both infinite;
}
@keyframes h-3{
    0% {
        opacity:0;
        transform:translate3d(0,0,0) scale(.1);    
    } 
    50% {
        transform:translate3d(70%,-42%,0) scale(1);    
        opacity:1;
    }
    100% {
        transform:translate3d(100%,-35%,0) scale(1.5);    
        opacity:0;
    }
}
.h-3-ani{
    animation: h-3 4s 3s linear both infinite;
}
