.m-toptop .m-access {
    position: fixed;
    z-index: 999;
    width: 172px;
    right: 50%;
    margin-right: -672px;
    bottom: 100px;
}
.m-toptop .m-access .top-bg {
    width: 172px;
    height: 150px;
    background: url(http://source.qunar.com/mobile_platform/mobile_douxing/qtuan/topic/yy/20150109/sprite-1.png) no-repeat 0 0;
}
.m-toptop .m-access .nav {
    width: 140px;
    margin: 0 auto;
}
.m-toptop .m-access .nav li a {
    display: block;
    width: 140px;
    height: 36px;
    font: 18px / 36px"Microsoft Yahei";
    color: #000;
    text-align: center;
    background: #ffda2b;
}
.m-toptop .m-access .nav li .after-bg {
    display: block;
    width: 140px;
    height: 12px;
    background: url(http://source.qunar.com/mobile_platform/mobile_douxing/qtuan/topic/yy/20150109/sprite-2.png) no-repeat 0 -56px;
}
.m-toptop .m-access .bottom-wrap {
    width: 110px;
    height: 31px;
    margin: 0 auto;
    background: url(http://source.qunar.com/mobile_platform/mobile_douxing/qtuan/topic/yy/20150109/sprite-1.png) no-repeat 0 -869px;
}
.m-toptop .m-access .bottom-wrap .btn-wrap {
    width: 100%;
    height: 100%;
}
.m-toptop .m-access .bottom-wrap .btn-wrap a {
    width: 100%;
    height: 100%;
    display: inline-block;
}
