.m-banner{
    width:100%;
}
.m-banner .bg{
    position:relative;
    width:100%;
    height:588px;
    background:url(http://source.qunar.com/mobile_platform/mobile_douxing/qtuan/topic/20141212/banner-bg.jpg) center center no-repeat;  
}
.m-banner .txt-wrap{
    padding:56px;
    margin:0 auto;
    width:540px;
}

.m-banner .txt-cq{
    width:263px;
    height:118px;
    margin-right:10px;
    overflow:hidden;
    background:url(http://source.qunar.com/mobile_platform/mobile_douxing/qtuan/topic/20141212/sprite-1.png) no-repeat 0 -512px;
}

.m-banner .txt-discount{
    margin-top:10px;
    width:199px;
    height:36px;
    overflow:hidden;
    background:url(http://source.qunar.com/mobile_platform/mobile_douxing/qtuan/topic/20141212/sprite-1.png) no-repeat 0 -634px;
}

.m-banner .txt-yue{
    width:264px;
    height:68px;
    margin-top:7px;

    overflow:hidden;
    background:url(http://source.qunar.com/mobile_platform/mobile_douxing/qtuan/topic/20141212/sprite-1.png) no-repeat 0 -676px;
}


.m-banner .row-second{
    margin-top:2px;
    margin-left:-25px;
}
.m-banner .txt-yearend{
    width:268px;
    height:251px;

    overflow:hidden;
    background:url(http://source.qunar.com/mobile_platform/mobile_douxing/qtuan/topic/20141212/sprite-1.png) no-repeat 0 0;
}

.m-banner .txt-bigdisc{
    width:261px;
    height:251px;

    overflow:hidden;
    background:url(http://source.qunar.com/mobile_platform/mobile_douxing/qtuan/topic/20141212/sprite-1.png) no-repeat 0 -256px;
}
