.m-yearend .m-banner {
    width: 100%;
}
.m-yearend .m-banner .bg {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 507px;
    background: url(http://source.qunar.com/mobile_platform/mobile_douxing/qtuan/topic/yy/20150113/banner-bg.jpg) center center no-repeat;
}
.m-yearend .m-banner .txt-wrap {
    position: relative;
    width: 980px;
    height: 100%;
    margin: 0 auto;
    left: 0;
    top: 0;
}
.m-yearend .m-banner .txt-price {
    position: absolute;
    top: 254px;
    left: 60px;
    width: 283px;
    height: 209px;
    background: url(http://source.qunar.com/mobile_platform/mobile_douxing/qtuan/topic/yy/20150113/sprite.png) no-repeat 0 -452px;
}
.m-yearend .m-banner .txt-hotel {
    position: absolute;
    top: 120px;
    right: 245px;
    width: 193px;
    height: 288px;
    background: url(http://source.qunar.com/mobile_platform/mobile_douxing/qtuan/topic/yy/20150113/sprite.png) no-repeat -307px -220px;
}
.m-yearend .m-banner .txt-hands {
    position: absolute;
    top: -5px;
    right: 80px;
    width: 128px;
    height: 211px;
    background: url(http://source.qunar.com/mobile_platform/mobile_douxing/qtuan/topic/yy/20150113/sprite.png) no-repeat -372px -523px;
}
.m-yearend .m-banner .txt-ding {
    position: absolute;
    top: 170px;
    right: 54px;
    width: 238px;
    height: 215px;
    background: url(http://source.qunar.com/mobile_platform/mobile_douxing/qtuan/topic/yy/20150113/sprite.png) no-repeat -262px 0;
}
.m-yearend .m-banner .txt-time {
    position: absolute;
    right: 76px;
    bottom: 15px;
    width: 216px;
    height: 139px;
    background: url(http://source.qunar.com/mobile_platform/mobile_douxing/qtuan/topic/yy/20150113/sprite.png) no-repeat 0 -301px;
}
