.m-dialog {
    width: 765px;
    height: 353px;
}
.m-dialog .panel-abs-wrap {
    padding: 8px;
    width: 749px;
    height: 337px;
    background: url(./images/dialog-abs.png);
      _background:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/dialog-abs.png', sizingMethod='crop');
    border-radius: 3px;
}
.g-pt45 {
    padding-top: 45px;
}
.g-pt32 {
    padding-top: 32px;
}
.g-pt28 {
    padding-top: 28px;
}
.g-pt21 {
    padding-top: 21px;
}
.g-pt19 {
    padding-top: 19px;
}
.g-mt63 {
    margin-top: 63px;
}
.g-mt10 {
    margin-top: 10px;
}
.m-dialog .title-bar {
    height: 46px;
    background: #f9f9f9;
}
.m-dialog .title-bar h1 {
    font: 18px /46px"Microsoft Yahei";
    padding-left: 18px;
    color: #333;
}
.m-dialog .title-bar .cancel {
    float: right;
    display: block;
    width: 50px;
    height: 100%;
    cursor: pointer;
}
.m-dialog .title-bar .cancel span {
    display: inline-block;
    margin: 9px 13px;
    width: 24px;
    height: 27px;
    //background: url(./images/cancel.png) no-repeat;

}
.m-dialog .panel {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #fff;
}
.m-dialog .content {
    position: relative;
    left: 0;
    top: 0;
}
.m-dialog .ani {
    position: absolute;
    right: 94px;
    top: 21px;
    width: 98px;
    height: 115px;
    //background: url(./images/ani.png) no-repeat;

}
.m-dialog .txt-4-1 {
    text-align: center;
    font: 24px /26px"Microsoft Yahei";
    color: #666;
}
.m-dialog .txt-4-2 {
    text-align: center;
    font: 18px /20px"Microsoft Yahei";
    color: #ff6600;
}
.m-dialog .txt-1-1 {
    text-align: center;
    font: 30px /32px"Microsoft Yahei";
    color: #333;
}
.m-dialog .txt-1-2 {
    text-align: center;
    font: 30px /32px"Microsoft Yahei";
    color: #ff6600;
}
.m-dialog .txt-1-3 {
    text-align: center;
    font: 14px /16px"Microsoft Yahei";
    color: #666;
}
.m-dialog .erwm-wrap {
    padding-top: 8px;
    text-align: center;
    position: relative;
}
.m-dialog .erwm-wrap .erwm {
    font-size: 0;
    width: 132px;
    height: 132px;
    position: relative;
    left: 68px;
    top: 0;
}
.m-dialog .erwm-wrap .sao {
    position: relative;
    left: 80px;
    top: -35px;
    display: inline-block;
    width: 136px;
    height: 94px;
    //background: url(./images/sao.png) no-repeat;

}
.m-dialog .erwm-wrap .ani {
    top: 17px;
    right: 62px;
}

.js-go-sales-hotel,.js-go-footer{
    color: #ff6600;
    cursor:pointer;
}
