.m-yearend {
    width: 100%;
    background: #e64225;
    padding-bottom: 60px;
}
.Qt_wrap {
    width: 100%;
    background: #e64225;
}
.banner {
    height: 0 !important;
    margin-bottom: 0 !important;
}
.g-none {
    display: none;
}
.g-ie6-click-fixed {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    opacity: 0;
    filter: alpha(opacity=0)
}
body {
    width: auto !important;
    min-width: 980px !important;
}
.m-yearend .main {
    position: relative;
    width: 980px;
    margin: 0 auto;
}
