.g-fl {
    float: left;
    display: inline;
}
.g-fr {
    float: right;
    display: inline;
}
.m-choujiang {
    width: 100%;
    background: #cc0000;
}
.g-pt45 {
    padding-top: 45px;
}
.g-pt22 {
    padding-top: 22px;
}
.g-mt22 {
    margin-top: 22px;
}
.g-pt20 {
    padding-top: 20px;
}
.g-pt11 {
    padding-top: 11px;
}
.Qt_wrap {
    width: 100%;
    background: #c00;
}
.banner {
    height: 0 !important;
    margin-bottom: 0 !important;
}
.g-none {
    display: none;
}
.g-ie6-click-fixed {
    position: absolute;
    top: 0;
    left: 0;
    height: 160px;
    width: 230px;
    background: #fff;
    opacity: 0;
    filter: alpha(opacity=0)
}
body {
    width: auto !important;
    min-width: 1308px !important;
}
