.m-instruction {
    height:443px;
    background:url(./images/instruction-bg.jpg) no-repeat center center;
} 
.m-instruction .main {
    width: 980px;
    height:372px;
    overflow:hidden;
    margin: 0 auto;
}
.m-instruction .prize{
    width:490px;
    height:100%;
}
.m-instruction h1 {
    padding-top:20px;
    font: 24px / 36px"Microsoft Yahei";
    color: #ec4b26;
    text-align: center;
}
.m-instruction .content{
    margin-top:30px;
}
.m-instruction p {
    font: 14px / 47px"Microsoft Yahei";
    padding:0 15px 0 20px;
    color: #bc813c;
}

.m-instruction .red-evlp{
    width:490px;
    height:100%;
}
