.m-pic-list {
    width: 980px;
    margin: 0 auto;
    margin-bottom: 25px;
}
.m-pic-list .inner {
    position: relative;
    padding: 14px 12px 19px;
    background: #fff;
}
.m-pic-list .content {
    width: 956px;
    overflow: hidden;
}
.m-product-show-2 {
    width: 968px;
    overflow: hidden;
}
.m-product-show-2 .item {
    float: left;
    _display: inline;
    font-size: 0;
    margin-right: 12px;
    padding: 6px 0 7px;
}
.m-product-show-2 .item-inner {
    width: 230px;
    display: block;
    cursor: pointer;
}

.m-product-show-2 .item-inner:hover .pic-wrap img {
    opacity: .9;
    filter: alpa(opacity=90);
}
.m-product-show-2 .pic-wrap {
    position: relative;
    width: 230px;
    height: 220px;
}
.m-product-show-2 .pic-wrap img {
    width: 100%;
    height: 100%;
}
.m-product-show-2 .pic-wrap .desc-wrap {
    position: absolute;
    width: 100%;
    height: 38px;
    padding-top: 18px;
    overflow: hidden;
    left: 0;
    bottom: 0;
}
.m-product-show-2 .pic-wrap .desc-wrap p {
    font: 18px/20px"Microsoft Yahei";
    height: 20px;
    color: #ffffcc;
    padding: 0 7px;
    overflow: hidden;
    position: relative;
    z-index: 2;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.m-product-show-2 .pic-wrap .desc-bg {
    width: 100%;
    position: absolute;
    height: 56px;
    background: #000;
    opacity: .5;
    top: 0;
    left: 0;
    z-index: 1;
    filter: alpha(opacity=50);
}
.m-product-show-2 .btn-wrap {}
 .m-product-show-2 .btn-wrap .btn {
    display: inline-block;
    padding: 0;
    border: 0;
    width: 100%;
    height: 62px;
    background: #ff6600;
    color: #ffffcc;
    text-align: center;
    font: 21px/62px"Microsoft Yahei";
    cursor: pointer;
}
.g-fl {
    float: left;
}
.g-rmb {
    font-family: "Arial";
}
