.m-rotate {
    height: 605px;
    background: url(./images/banner-2.jpg) no-repeat center center;
}
.m-rotate .main {
    width: 980px;
    margin: 0 auto;
    position: relative;
}
.m-rotate .info-wrap {
    width:568px;
    position:absolute;
    top:0;
    right:0;
    padding-top: 143px;
}
.m-rotate .info-wrap .title-bg {
    position: absolute;
    top: 0;
    right: 83px;
    width: 456px;
    height: 160px;
    z-index: 1;
    //background: url(./images/rotate-title.png) no-repeat;
}
.m-rotate .txt-wrap {
    width: 568px;
    height: 297px;
    position: relative;
    left: 0;
    top: 0;
    background: url(./images/rotate-txt-bg.png) no-repeat;
}
.m-rotate .txt-wrap .txt-tt-1 {
    font: 18px/ 20px"Microsoft Yahei";
    color: #fff;
    position: absolute;
    left: 146px;
    top: 26px;
}
.m-rotate .txt-wrap .txt-desc {
    position: absolute;
    width: 420px;
    height: 95px;
    overflow: hidden;
    left: 130px;
    top: 62px;
}
.m-rotate .txt-wrap .txt-desc li {
    font: 14px/ 20px"Microsoft Yahei";
    color: #660000;
}
.m-rotate .txt-wrap .txt-tt-2 {
    font: 18px/ 20px"Microsoft Yahei";
    color: #fff;
    position: absolute;
    left: 146px;
    top: 184px;
}
.m-rotate .lucky-users-view {
    position: absolute;
    width: 420px;
    height: 72px;
    bottom: 10px;
    right: 20px;
    overflow:hidden;
}
.m-rotate .lucky-users {
    width: 100%;
    position:absolute;
    top:0;
    left:0;
}
.m-rotate .lucky-users .item {
    height: 20px;
    padding-top: 4px;
}
.m-rotate .lucky-users .user {
    font-size: 16px;
    width: 100%;
    overflow: hidden;
    height: 16px;
}
.m-rotate .lucky-users .user span {
    font: 14px/ 16px"Microsoft Yahei";
    color: #cc0000;
}
.m-rotate .lucky-users .xx {
    margin: 0 20px;
}
.m-rotate .join-count-wrap {
    padding-top: 4px;
}
.m-rotate .join-count {
    width: 460px;
    margin: 0 auto;
}
.m-rotate .join-count .txt {
    font: 24px/26px"Microsoft Yahei";
    padding-top: 35px;
    color: #ffcc66;
}
.m-rotate .join-count .num-wrap {
    font-size: 0;
    margin-right: 8px;
}
.m-rotate .join-count .num-wrap span {
    width: 49px;
    height: 85px;
    font: bold 48px/85px"Arial";
    text-align: center;
    margin-left: 6px;
    color: #333;
    display: inline-block;
    background: url(./images/num-bg.png) no-repeat;
}
