.m-slide {
    height: 371px;
    background: url(./images/banner-3.jpg) no-repeat center center;
}
.m-slide .main {
    width: 980px;
    margin: 0 auto;
}
.m-slide .side-desc {
    width: 172px;
    height: 369px;
}
.m-slide .side-desc .content {
    width: 100%;
    height: 285px;
    padding-top: 76px;
    background: #660066;
}
.m-slide .side-desc .side-txt {
    margin: 0 auto;
    width: 147px;
    height: 76px;
    //background: url(./images/side-txt.png) no-repeat;

}
.m-slide .side-desc .after {
    width: 100%;
    height: 8px;
    overflow: hidden;
    //background: url(./images/slide-after.png) repeat-x;

}
.m-slide .slide-wrap {
    padding: 15px 14px 0 13px;
    width: 781px;
    overflow: hidden;
    background: #663399;
}
.m-slide .slide-view {
    width: 781px;
    height: 310px;
    overflow: hidden;
}
.m-slide .slide-panel {
    width: 3905px;
    /**781x5**/
    height: 310px;
}
.m-slide .slide-panel .item {
    float: left;
    display: inline;
    width: 781px;
    height: 100%;
}
.m-slide .slide-panel .item a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}
.m-slide .slide-panel .item img {
    width: 100%;
    height: 100%;
}
.m-slide .slide-panel .txt-group {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 558px;
    height: 93px;
}
.m-slide .slide-panel .txt-group .abs {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #000033;
    opacity: .7;
    fliter: alpha(opacity=70);
}
.m-slide .slide-panel .txt-wrap {
    position: relative;
    z-index: 2;
    width: 508px;
    padding: 0 20px;
    height: 100%;
    left: 0;
    top: 0;
}
.m-slide .slide-panel .txt-wrap .title {
    width: 338px;
    overflow: hidden;
}
.m-slide .slide-panel .txt-wrap .title h2 {
    padding-top: 15px;
    height: 26px;
    width: 100%;
    overflow: hidden;
    font: 24px/ 26px"Microsoft Yahei";
    color: #ffcc00
}
.m-slide .slide-panel .txt-wrap .title .desc {
    padding-top: 21px;
    font: 14px / 16px"Microsoft Yahei";
    color: #fff;
}
.m-slide .slide-panel .txt-wrap .price-wrap {
    padding-top: 16px;
    width: 170px;
    text-align: right;
    font-size: 0;
}
.m-slide .slide-panel .price-wrap .price {
    font: 60px / 62px"Microsoft Yahei";
    color: #fff;
}
.m-slide .slide-panel .price-wrap .g-rmb {
    font-size: 30px;
    color: #fff;
}
.m-slide .slide-panel .label {
    position: absolute;
    right: 0;
    margin-right: 14px;
    bottom: 15px;
    width: 138px;
    height: 138px;
    //background: url(./images/label.png) no-repeat;

}
.m-slide .slide-panel .label .time {
    padding-top: 11px;
    height: 20px;
    overflow: hidden;
    font: 18px/ 20px"Arial";
    color: #fff;
    width: 100%;
    text-align: center;
}
.m-slide .slide-nav-wrap {
    height: 30px;
    padding-top: 6px;
}
.m-slide .slide-nav {
    float: right;
    margin-right: 3px;
}
.m-slide .slide-nav .item {
    float: left;
    width: 22px;
    height: 22px;
    margin-right: 8px;
    display: inline;
}
.m-slide .slide-nav .item a {
    display: inline-block;
    font-size: 0;
    cursor: pointer;
    padding: 5px;
}
.m-slide .slide-nav .item span {
    display: inline-block;
    width: 12px;
    height: 12px;
    overflow: hidden;
    background: #330066;
    border-radius: 12px 12px;
}
.m-slide .slide-nav .item.current span {
    background: #ffcc00;
}
