.m-tab-nav {
    /**blank**/
}
.m-tab-nav .nav-wrap {
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
}
.m-tab-nav .tab-nav {
    width: 983px;
    table-layout: fixed
}
.m-tab-nav .tab-nav .item {
    height: 51px;
    font-size: 0;
    background:#5c0f71;
}
.m-tab-nav .tab-nav .item-inner {
    padding-right: 3px;
    height: 100%;
}
.m-tab-nav .tab-nav .more a,
.m-tab-nav .tab-nav .item a {
    display: block;
    width: 100%;
    overflow: hidden;
    background: #fed783;
    text-align: center;
    font: 20px / 51px"Microsoft Yahei";
    height:51px;
    overflow:hidden;
    color: #02073b;
}
.m-tab-nav .tab-nav .more {
    height: 51px;
    font-size: 0;
}
.m-tab-nav .tab-nav .more a {
    color: #fff;
}
.m-tab-nav .tab-nav .item.cur a,
.m-tab-nav .tab-nav .more.cur a,
.m-tab-nav .tab-nav .item a:hover,
.m-tab-nav .tab-nav .more:hover,
{
    background: #fd6d0c;
    color:#fff;
}
