.m-toptop .m-tab-logo {
    width: 100%;
}
.m-toptop .m-tab-logo .inner {
    width: 980px;
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
}
.m-toptop .m-tab-logo img {
    height: 150px;
}

