.m-tab-list {} .m-tab-list .main {
    width: 980px;
    margin: 0 auto;
}
.m-tab-list .tab-list-wrap {
    overflow: hidden;
}
.m-tab-list .tab-list-wrap.w730 {
    width: 730px;
}
.m-tab-list .tab-list-wrap.w980 {
    width: 980px;
}
.m-tab-list .tab-list.w750 {
    width: 750px;
}
.m-tab-list .tab-list.w1000 {
    width: 1000px;
}
.m-tab-list .tab-list .item {
    float: left;
    display: inline;
    width: 230px;
    overflow: hidden;
    height: auto;
    margin-right: 20px;
    padding-bottom: 17px;
}
.m-tab-list .tab-list .item-inner {
    width: 100%;
    height: 100%;
    background: #fff;
    display: block;
}
.m-tab-list .tab-list .pic-wrap {
    font-size: 0;
    position: relative;
}
.m-tab-list .tab-list img {
    width: 230px;
    height: 160px;
    display: inline-block;
}
.m-tab-list .tab-list .title-group {
    width: 100%;
    height: 37px;
    position: relative;
}
.m-tab-list .tab-list .abs {
    position: absolute;
    top: 0;
    left: 0;
    width: 230px;
    height: 37px;
    background-color: #333;
}
.m-tab-list .tab-list .txt-title {
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 206px;
    height: 23px;
    padding: 0 12px;
    overflow: hidden;
    text-align: left;
    font: 21px / 23px"Microsoft Yahei";
    color: #ffffcc;
}
.m-tab-list .tab-list .label {
    position: absolute;
    width: 56px;
    height: 56px;
    overflow: hidden;
    left: 5px;
    top: 5px;
}
.m-tab-list .tab-list .other {
    padding: 0 11px;
}
.m-tab-list .tab-list .desc {
    padding-top: 6px;
    font: 14px / 24px"Microsoft Yahei";
    color: #333;
}
.m-tab-list .tab-list .price-wrap {
    font-size: 0;
}
.m-tab-list .tab-list .price {
    margin: 16px 0;
    font: 48px / 50px"Microsoft Yahei";
    color: #ff6633;
}
.m-tab-list .tab-list .price-wrap .g-rmb {
    font-size: 21px;
    color: #ff6633;
}
.m-tab-list .tab-list .after {
    height: 7px;
    overflow:hidden;
    //background: url(./images/list-after.png) no-repeat;
}
.m-tab-list .tab-side-label {
    width: 230px;
    margin-right: 20px;
}
.m-tab-list .tab-side-label .inner-wrap {
    position: relative;
    top: 0;
    left: 0;
}
.m-tab-list .tab-side-label img {
    width: 230px;
    height: 633px;
}
.m-tab-list .tab-side-label .side-txt-wrap {
    position: absolute;
    left: 0;
    top: 153px;
    width: 214px;
    padding: 0 8px;
    overflow:hidden;
}
.m-tab-list .tab-side-label .side-txt-wrap .abs {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: #000025;
    opacity: .64;
    fliter: alpha(opacity=64);
    height:600px;
    width:230px;
}
.m-tab-list .tab-side-label .side-txt-wrap p {
    position: relative;
    left: 0;
    top: 0;
    z-index: 2;
    font: 12px / 21px"Microsoft Yahei";
    color: #d1cfb7;
    padding: 9px 11px 20px;
}
