.m-toptop .m-tab {
    width: 100%;
}
.m-toptop .m-tab .inner {
    width: 980px;
    margin: 0 auto;
}
/**tab 导航区域 start**/

.m-toptop .m-tab .nav {
    width: 100%;
    overflow: hidden;
    background: #ffda2b;
}
.m-toptop .m-tab .nav.count9 li {
    width: 109px;
}
.m-toptop .m-tab .nav.count9 li.last {
    width: 108px;
}
.m-toptop .m-tab .nav.count10 li {
    width: 98px;
}
.m-toptop .m-tab .nav.count11 li {
    width: 89px;
}
.m-toptop .m-tab .nav.count11 li.last {
    width: 90px;
}
.m-toptop .m-tab .nav.count12 li {
    width: 82px;
}
.m-toptop .m-tab .nav.count12 li.last {
    width: 78px;
}
.m-toptop .m-tab .nav li {
    float: left;
    height: 60px;
    border-bottom: 2px solid #fff;
    display: inline;
}
.m-toptop .m-tab .nav a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font: 24px/60px"Microsoft Yahei";
    color: #000;
    text-align: center;
}
.m-toptop .m-tab .nav a:hover,
.m-toptop .m-tab .nav li.cur a {
    background: #ffc200;
}
/**tab 导航区域 end**/

/**tab 列表区域 start**/

.m-toptop .m-tab .tab-wrap {
    background: #fff;
}
.m-toptop .m-tab .tab-wrap .list-wrap {
    padding: 0;
    margin: 0;
    font-size: 0;
}
.m-toptop .m-tab .list {
    padding-top: 1px;
    background: #fff;
    width: 100%
}
.m-toptop .m-tab .list .item {
    float: left;
    width: 192px;
    height: 227px;
    padding: 2px;
    *padding-bottom: 0;
    background: #fff;
}
.m-toptop .m-tab .list .item-inner {
    display: block;
    border: 1px solid #fff;
    width: 190px;
    height: 225px;
    padding: 0;
    background: #00387d;
    cursor: pointer;
}
.m-toptop .m-tab .list .item-inner:hover {
    border: 1px solid #ff4500;
}
.m-toptop .m-tab .list .pic-wrap {
    width: 100%;
    height: 127px;
    overflow: hidden;
    position: relative;
}
.m-toptop .m-tab .list .pic {
    width: 190px;
    height: 127px;
    display: inline-block;
    background: #fff;
}
.m-toptop .m-tab .list .txt {
    width: 175px;
    margin: 0 auto;
}
.m-toptop .m-tab .list .title-wrap {
    margin-top: 10px;
}
.m-toptop .m-tab .list .txt-title {
    width: 100%;
    height: 14px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    font: 12px/14px"Microsoft Yahei";
    color: #fff;
}
.m-toptop .m-tab .list .price-wrap {
    margin-top: 8px;
    font-size: 0;
    height: 20px;
    overflow: hidden;
}
.m-toptop .m-tab .list .price-tt {
    font: 12px/14px"Microsoft Yahei";
    color: #fff;
}
.m-toptop .m-tab .list .g-rmb {
    font-size: 18px;
    line-height: 20px;
    color: #fff;
}
.m-toptop .m-tab .list .price-num {
    font: 18px/20px"Microsoft Yahei";
    color: #fff;
}
.m-toptop .m-tab .list .top-desc {
    margin-top: 11px;
    height: 24px;
    background: #ffda2b;
    padding-top: 6px;
    font-size: 0;
}
.m-toptop .m-tab .list .top-desc .bg-top-num {
    display: inline-block;
    width: 55px;
    height: 18px;
    background: url(http://source.qunar.com/mobile_platform/mobile_douxing/qtuan/topic/yy/20150109/sprite-1.png) 0 -497px no-repeat;
    font: 14px/18px"Microsoft Yahei";
    color: #fff;
    margin: 0 24px 0 7px;
    text-align: center;
}
.m-toptop .m-tab .list .top-desc .look {
    font: 14px/18px"Microsoft Yahei";
    color: #000;
}
/**tab 列表区域 end**/

/**tab 列表区域 end**/
