.m-tab-title {} .m-tab-title .bg {
    width: 980px;
    margin: 0 auto;
    height: 91px;
    overflow: hidden;
    //background: url(./images/title-bg.png) no-repeat;
}
.m-tab-title .txt-wrap {
    width: 100%;
    padding-top: 15px;
}
.m-tab-title .txt {
    width: 560px;
    height: 46px;
    margin: 0 auto;
}

.m-tab-title .txt-1 {
    //background:url(./images/title-txt-1.png) no-repeat;
}

.m-tab-title .txt-2 {
    //background:url(./images/title-txt-2.png) no-repeat;
}

.m-tab-title .txt-3 {
    //background:url(./images/title-txt-3.png) no-repeat;
}
