@import '../lib/base-sass.scss';
.m-page-2{
    width:100%;
    height:100%;
}

.m-page-2 .inner{
    height:100%;
    max-width:540px;
    background:grey;
    position:relative;
    margin:0 auto;
}
.m-page-2 .inner .bg{
    width:100%;
    height:100%;
}

.m-page-2 .inner .content{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
}

.m-page-2 img{
    width:100%;
    height:100%;
}
.m-page-2 .header{
    width:100%;
    margin-top:10px;
}
.m-page-2 .header .logo{
    width:pxToRem(70px);
    height:pxToRem(26.5px);
    margin-left:pxToRem(16px);
    float:left;
}


.m-page-2 .header .btn-audio{
    border:0;
    padding:0;
    float:right;
    margin-right:pxToRem(16px);
    top:pxToRem(10px);
    width:pxToRem(27px);
    height:pxToRem(27px);
    background:none;
}
.m-page-2 .txt {
    position:relative;
    z-index:999;
    text-align:center;
    margin-top:pxToRem(30px);
}
.m-page-2 .txt .txt-title p{
    font:#{pxToRem(24px)}/#{pxToRem(39px)} "Microsoft Yahei";
    color:#ffffcc;
}

.m-page-2 .txt .txt-blue{
    margin-top:pxToRem(13.5px);
    color:#99ffff;
    font:#{pxToRem(12px)} / #{pxToRem(12px)} "Microsoft Yahei";
}
.m-page-2 .txt .txt-white{
    margin-top:pxToRem(9px);
    color:#fff;
    font:#{pxToRem(12px)} / #{pxToRem(12px)} "Microsoft Yahei";
}

.m-page-2 .txt .txt-red img{
    width:pxToRem(308.5px);
    height:pxToRem(32.5px);
    margin-top:pxToRem(9px);
}
.m-page-2 .txt .txt-select{
    margin-top:pxToRem(12px);
    font-size:0;
}
.m-page-2 .txt .txt-select .con{
    font:#{pxToRem(12px)}/#{pxToRem(13.5px)} "Microsoft Yahei";
    height:pxToRem(13.5px);
    color:#fff;
    padding:0 pxToRem(7.5px);
    vertical-align:middle;
}
.m-page-2 .txt .txt-select .arrow-left{
    width:pxToRem(7px);    
    height:pxToRem(13.5px);
    vertical-align:middle;
}

.m-page-2 .txt .txt-select .arrow-right{
    vertical-align:middle;
    width:pxToRem(7px);    
    height:pxToRem(13.5px);
}
.m-page-2 .bottom{
    width:100%;
    position:absolute;
    bottom:0;
}

.m-page-2 .man{
    font-size:0;
    text-align:center;
    width:100%;
    position:absolute;
    bottom:0;
}

.m-page-2 .man img{
    width:pxToRem(165.5px);
    height:auto;
}

.m-page-2 .b-wrap{
    text-align:center;
    position:absolute;
    bottom:pxToRem(15px);
    width:100%;
    font-size:0;
}

.m-page-2 .btn-arrow{
    width:pxToRem(63.5px);
    height:pxToRem(36px);
    vertical-align:middle;
}

.m-page-2 .words{
    text-align:right;
    position:absolute;
    bottom:pxToRem(5px);
    font-size:0;
    width:100%;
}

.m-page-2 .words img{
  width:pxToRem(88px);
  height:pxToRem(48.5px);
    margin-right:pxToRem(10px);
}

@keyframes popo{
  0% {
    opacity: 1;
    transform: none;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, -15px, 0);
  }
}
    
.popo{
    animation:popo 1s 1s infinite both;
    //transform:translate3d(0,-100px,0);
}
@media screen and (max-height:460px){
   .m-page-2 .txt {
        margin-top:pxToRem(10px);
    } 
   .m-page-2 .txt .txt-title p{
        font:#{pxToRem(24px)}/#{pxToRem(30px)} "Microsoft Yahei";
    }
    .m-page-2 .txt .txt-blue{
        margin-top:pxToRem(5px);
    }
    .m-page-2 .man img{
        width:pxToRem(144px);
    }
}
