@import '../lib/base-sass.scss';
.m-page-1{
    background:#fff;
    height:100%;
}

.m-page-1 .inner{
    position:relative;
    height:100%;
    max-width:540px; 
    box-sizing:border-box;
    margin:0 auto;
    padding-top:1px;
    overflow:hidden;
}

.m-page-1 .inner .bg{
    position:absolute;
    top:0;
}
.m-page-1 .loading{
    position:relative;
    top:50%;
    width:48px;
    margin:-50px auto 0;
}
.m-page-1 .loading .pic{
    width:48px;
    height:36px;  
    background:url(http://source.qunar.com/mobile_platform/mobile_douxing/qtuan/topic/yy/20141209/loading.gif) no-repeat;
    -webkit-background-size:48px 36px;
}

.m-page-1 .loading p{
    margin-top:10px;
    text-align:center;
    color:#ccc;
}
