.turntable-wrap { 
    position: absolute;
    width: 536px;
    height: 536px;
    left: 50%;
    margin: 26px 0 0 -499px; 
}

.turntable-wrap .turntable-com { display:inline-block; position:absolute; width:536px; height:536px; }

.turntable-wrap .turntable-bg { 
    background:url(./images/turn_bg.png); 
    _background:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/turn_bg.png', sizingMethod='crop');
}

.turntable-wrap .turntable-lights-wrap {
    display:inline-block; position:absolute; width:536px; height:536px;
}
.turntable-wrap .turntable-lights-wrap .lights {
    display:inline-block; position:absolute; width:40px; height:40px;
}

.turntable-wrap .turntable-lights-wrap .lights.bg-1 {
    background: url(./images/turn_light_1.png);
    _background:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/turn_light_1.png', sizingMethod='crop');
}

.turntable-wrap .turntable-lights-wrap .lights.bg-2 {
    background: url(./images/turn_light_2.png);
    _background:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/turn_light_2.png', sizingMethod='crop');
}

.turntable-wrap .turntable-lights-wrap .lights.lt-1 {
    top: 0px; left: 248px;
}
.turntable-wrap .turntable-lights-wrap .lights.lt-2 {
    top: 69px; left: 417px;
}
.turntable-wrap .turntable-lights-wrap .lights.lt-3 {
    top: 245px; left: 494px;
}
.turntable-wrap .turntable-lights-wrap .lights.lt-4 {
    top: 422px; left: 422px;
}
.turntable-wrap .turntable-lights-wrap .lights.lt-5 {
    top: 492px; left: 248px;
}
.turntable-wrap .turntable-lights-wrap .lights.lt-6 {
    top: 424px; left: 76px;
}
.turntable-wrap .turntable-lights-wrap .lights.lt-7 {
    top: 245px; left: 2px;
}
.turntable-wrap .turntable-lights-wrap .lights.lt-8 {
    top: 71px; left: 75px;
}

.turntable-wrap .turntable-prize { position:absolute; top:14px; left:16px; width:505px; height:505px; 
    background: url(./images/turn_prize.png);
    _background:none;
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/turn_prize.png', sizingMethod='crop');
}

.turntable-wrap .turntable-btn{ position:absolute; top:144px; left:148px; width:240px; height:240px; }

.turntable-wrap .turntable-btn-text { position:absolute; top:219px; left:224px; width:90px; height:90px; }
.turntable-wrap .turntable-btn-text.start { 
    background: url(./images/btn_start.png); 
    _background:none; 
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/btn_start.png', sizingMethod='crop');
}

.turntable-wrap .turntable-btn-text.end { 
    background: url(./images/btn_end.png); 
    _background:none; 
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/btn_end.png', sizingMethod='crop');
}

.turntable-wrap .turntable-btn-text.wait { 
    background: url(./images/btn_wait.png); 
    _background:none; 
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/btn_wait.png', sizingMethod='crop');
}

.turntable-wrap .turntable-btn-text.next { 
    background: url(./images/btn_next.png); 
    _background:none; 
    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/btn_next.png', sizingMethod='crop');
}
.turntable-wrap .turntable-btn-text.start.cur { cursor: pointer; }